<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= link_to pat("Test suites summary"), url(:test_suites, :index) %></li>
      <li><%= link_to pat("Test runs summary for #{@test_suite}"), url(:test_runs, :index, {:test_suite => @test_suite, :test_suite_id => @test_suite_id}) %></li>
      <li class="first active"><%= link_to pat("Test cases for build #{@build_name}"), url(:test_cases, :index, {:build_id => @build_name, :test_suite => @test_suite, :test_suite_id => @test_suite_id}) %></li> 
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><!--<%= pat("Test cases for build #{@build_name}") %> <% mt(:test_cases) %>--></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">
          <th><%= mat(:test_case, :test_group) %></th>
          <th><%= mat(:test_case, "Test steps") %></th>
          <th><%= mat(:test_case, "Steps passed") %></th>
          <th><%= mat(:test_case, "Steps failed") %></th>
          <th><%= mat(:test_case, "Steps pending") %></th>
          <th><%= mat(:test_case, "Success rate") %></th>
          <th><%= mat(:test_case, :duration) %></th>          
        </tr>
        <% @test_cases_hash.each do |test_case_name, test_step_results| %>
        <% @passed = test_step_results.select { |tsr| tsr.include? 'passed'}.size %>
        <% @failed = test_step_results.select { |tsr| tsr.include? 'failed' }.size %>
        <% @pending = test_step_results.select { |tsr| tsr.include? 'pending' }.size %>
        <% @duration = test_step_results.inject(0) { |sum, x| sum + x[1] } %>
        <% @success_rate = ((@passed).to_f/test_step_results.size.to_f)*100 %>
        <% @formatted_rate = sprintf("%.2f", @success_rate) %>
        <% @cell_color = "#33CC33" if @success_rate == 100.00 %>
        <% @cell_color = "#EB3333" if @success_rate < 100.00 %>
        <% @formatted_duration = sprintf("%.2f", @duration.to_f) %>
        <tr>
          <td class="first">
          <td><%= link_to pat("#{test_case_name}"), url(:test_cases, :specific, {:test_group => test_case_name, :build_id => @build_name, :test_suite => @test_suite, :test_suite_id => @test_suite_id}) %></td>
          <td><%= test_step_results.size %></td>
          <td><%= @passed %></td>
          <td><%= @failed %></td>
          <td><%= @pending %></td>
          <td bgcolor=<%= @cell_color %>><%= @formatted_rate %></td>
          <td><%= @formatted_duration + "s" %></td>
        </tr>  
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>